@tailwind base;
@tailwind components;
@tailwind utilities;

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
     font-size: 62.5%;
     position: relative;
}

body {
     font-size: 1.6rem;
     color: white;
     background-color: rgba(14, 16, 20, 1);
     font-family: "Roboto", sans-serif;
}

nav {
     padding: 0 9rem !important;
}

.group1 {
     display: flex;
     align-items: center;
     gap: 8rem;
}

.main-wrapper {
     padding: 0 15%;
}

.pal-list {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 2rem;
}

.pal {
     display: flex;
     justify-content: start;
     gap: 2rem;
     align-items: center;
     background-color: #8e919625;
     border-radius: 1rem;
     padding: 1.5rem 1rem 1.5rem 2rem;
     color: rgb(203, 213, 225);
}

.item {
     background-color: #8e919625;
     color: rgb(203, 213, 225);
     padding: 1.5rem 0rem 1.5rem 2rem;
     border-radius: 1rem;
}

.pal-image img,
.item-image img {
     border-radius: 50%;
     border: 2px solid rgb(164, 164, 164);
}

.pal-types {
     display: flex;
     justify-content: left;
     gap: 3px;
     align-items: center;
}

.typeFilters {
     display: flex;
     gap: 0.5rem;
}

#live-search-bar {
     border-radius: 1rem;
     overflow: hidden;
}

#live-search-bar:focus {
     border-radius: 1rem;
     overflow: hidden;
     outline: none;
}

.all {
     border: 1px rgb(142, 142, 142) solid;
     height: 3.5rem;
     width: 3.5rem;
     border-radius: 0.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
}

.detailPalPage {
     display: grid;
     grid-template-columns: 7fr 3fr;
     gap: 2rem;
     background-color: inherit;
}

.errorMessage {
     min-width: 30rem;
     min-height: 30rem;
     display: flex;
     justify-content: center;
     align-items: center;
     text-wrap: wrap;
}

.imageHolder {
     width: 120rem;
     height: 80rem;
}

.imageHolder img {
     width: 120rem;
     height: 80rem;
     border-radius: 1rem;
}

.duration-5000 {
     transition-duration: 2000ms;
}

.burger-menu {
     display: none;
}

.links--responsive {
     display: none;
}

.blog-main {
     display: grid;
     grid-template-columns: 8fr 2fr;
     gap: 2rem;
}

.post:hover .overlay {
     opacity: 0.8;
}

.passiveSkill-item {
     display: grid;
     grid-template-columns: 3fr 7fr;
}

.selectPalOverlay {
     width: 100%;
}

.max-h-120 {
     max-height: 35rem;
}

.max-h-150 {
     max-height: 45rem;
}

.calculator--1 {
     display: grid;
     grid-template-columns: 2.5fr 7.5fr;
}

@media (max-width: 1350px) {
     .home-buttons {
          width: 80%;
     }

     .pal-list {
          grid-template-columns: 1fr 1fr 1fr;
     }
}

@media (max-width: 1200px) {
     .blog-page-left ul {
          grid-template-columns: 1fr !important;
     }
}

@media (max-width: 1200px) {
     .viewfullP {
          margin-bottom: 3rem;
     }

     .imageHolder {
          width: 100% !important;
          display: flex;
          justify-content: center;
          align-items: center;
          height: fit-content !important;
     }

     .imageHolder img {
          width: 100rem;
          height: 50rem;
          border-radius: 1rem;
     }
}

@media (max-width: 1000px) {
     .icon-imageSlider {
          display: none;
     }

     .imageHolder {
          width: 100% !important;
          display: flex;
          justify-content: center;
          align-items: center;
          height: fit-content !important;
     }

     .imageHolder img {
          width: 80rem;
          height: 40rem;
          border-radius: 1rem;
     }

     .group2 {
          display: flex;
          flex-direction: column;
          gap: 1rem;
     }

     .typeFilters {
          justify-content: flex-start;
          order: 0;
     }

     .dmm {
          order: 1;
     }

     .detailPostPage {
          padding: 0 5rem;
     }

     .newPostPage {
          width: 100%;
     }
}

@media (max-width: 900px) {
     html {
          font-size: 55%;
     }

     .item-list {
          grid-template-columns: 1fr 1fr !important;
     }
}

@media (max-width: 800px) {
     .viewfullP {
          font-size: 1.6rem;
     }
     .home-buttons {
          font-size: 1.6rem;
     }

     .burger-menu {
          display: block;
          cursor: pointer;
     }

     .logo {
          order: 1;
     }
     .profile {
          order: 2;
     }

     .group1 {
          gap: 0.5rem;
     }

     .links {
          display: none;
     }

     .links--responsive {
          display: flex;
     }
}

@media (max-width: 700px) {
     .home-list {
          display: flex;
          flex-direction: column;
     }

     .home-list p {
          height: 3rem;
     }

     .burger-menu svg {
          height: 2rem;
          width: 2rem;
     }

     .pal-list {
          grid-template-columns: 1fr 1fr;
     }

     .item-list {
          grid-template-columns: 1fr !important;
          width: 50%;
     }

     .main-wrapper {
          padding: 0 5%;
     }

     .home-list {
          padding: 0 15%;
     }
}

@media (max-width: 700px) {
     html {
          font-size: 50%;
     }
     .burger-menu {
          height: 4rem;
          width: 4rem;
          display: flex;
          justify-content: center;
          align-items: center;
     }
}

@media (max-width: 600px) {
     /* .imageContainer {
          width: 100%;
          height: 20rem;
     } */

     .imageHolder img {
          width: 60rem !important;
          height: 30rem !important;
          border-radius: 1rem;
     }
     /* 
     .main-nav {
          z-index: 9999;
     }   */
}

@media (max-width: 550px) {
     .postPage {
          font-size: 90%;
     }

     .blog-main {
          display: flex;
          flex-direction: column;
          gap: 2rem;
     }

     .blog-page-left {
          order: 2;
     }

     .blog-page-right {
          order: 1;
          padding: 0 !important;
     }

     .blog-page-right div ul {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
     }
     .group3 {
          display: flex;
          flex-direction: column;
          gap: 2rem;
     }
}

@media (max-width: 500px) {
     .main-nav {
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          margin-top: 1rem;
          margin-right: -5rem;
          margin-left: -5rem;
     }

     .group1 {
          order: 1;
     }
     .profile {
          order: 0;
     }

     .profile img {
          height: 3rem;
          width: 3rem;
     }

     html {
          font-size: 45%;
     }

     .Paldex {
          margin-top: 4rem;
     }

     .links--responsive {
          margin-top: 4rem;
     }

     .home-list {
          padding: 0;
     }
     /* .admin-buttons button,
     .admin-buttons a {
          font-size: 1.3rem; */

     .postPage {
          margin-top: 5rem;
          font-size: 80%;
     }

     .detailPostPage {
          padding: 3rem 5rem;
     }

     .newPostPage {
          margin-top: 3rem;
     }
}

@media (max-width: 400px) {
     .palpedia-p {
          font-size: 1.6rem;
     }

     .palpedia h1 {
          font-size: 3rem;
     }

     .palworld {
          display: none;
     }

     .viewfullP {
          margin-bottom: 5rem;
     }

     .pal-list {
          grid-template-columns: 1fr;
     }

     .item-list a {
          width: 80%;
     }
}

@media (max-width: 300px) {
     .viewfullP {
          margin-bottom: 7rem;
     }
     html {
          font-size: 40%;
     }
}
